<!-- Navbar -->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Port<span style="font-size:xx-small;">Folio</span> 3000</a>



    <!-- Navbar Search -->
 <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
<form method="POST" action="/searchBar" class="form-inline">
 
  <input type="text" class="form-control" name="kw" placeholder="Search" aria-label="search" aria-describedby="search projects">
  
    <button class="btn btn-md btn-info" id="search"><i class="fas fa-search"></i></button>
  
</div> 
      </div>
     </form> 
    <ul class="navbar-nav">
     
        <% if (!isAuthenticated) { %> 
         <li class="nav-item">
        <a class="nav-link" href="/login">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
      </li>
        <li class="nav-item dropdown no-arrow">
        <a class="nav-link" href="/register">
          <i class="fas fa-user-plus"></i> Register
        </a>
      </li>
      
      <% } else {%>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link" href="/inbox">
          <i class="fas fa-envelope fa-fw"></i>Messages
        </a>
      
      </li>
       
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link" href="/logout">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      
      </li>
     
      <%}%>
    </ul>
</div>
  </nav>