<!doctype html>
<html lang="en">

    <% include ./partials/header %>

    <title>401</title>
</head>
 <% include ./partials/nav%>

  <body>
<div class="content">
<div class="jumbotron" style="margin: 5px">
      <div class="container">
        <h1>Access Denied</h1>
      </div>
    </div>
  <div class="container">
  <div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Error</h4>
  <p>Access Denied! Hacker!</p>

</div>
    </div>
    <% include ./partials/scripts %>
</body>

</html>