<!doctype html>
<html lang="en">


    <% include ./partials/header %>

    <title>User's Home</title>
</head>
 <% include ./partials/nav%>

  <body class="d-flex flex-column">
  <div id="page-content">
  <header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
       <img src="../public/img/logo.png" />
      </div>
    </div>
  </div>
</header>
  </div>

  <% include ./partials/footer %>
    <% include ./partials/scripts %>
</body>
</html>