 <!DOCTYPE html>
<html lang="en">

    <% include ./partials/header %>
     <link rel="stylesheet" href="../public/css/profile.css">
<script>
        function validateForm() {
            const firstname = document.forms["updateForm"]["firstname"].value;
            const lastname = document.forms["updateForm"]["lastname"].value;

            if (firstname.trim() == "" || lastname.trim() == "") {
                alert("You must have a first and last name");
                return false;
            }
            return true;
        }
    </script>
</head>

<body id="page-top">

    <% include ./partials/nav %>

  <div id="wrapper">

    <% include ./partials/sidenav %>


    <div id="content-wrapper"> 

      <div class="container-fluid">



        <!-- Page Content -->
       
 
 <!-- Row -->
                <div class="row">
                    <!-- Column -->
                     
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <center class="m-t-30"> 
                                    <h4 class="card-title m-t-10"><%user.firstname%>  <%user.lastname%></h4>
                                    <div class="row text-center justify-content-md-center">
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-block">
                                <form class="form-horizontal form-material" action="/updateProfile" method="POST" id="updateForm" onsubmit="return validateForm()">
                                    <div class="form-group">
                                        <label class="col-md-12">First Name</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="First Name" class="form-control form-control-line" name="firstname" id="firstname" value="<%= user.firstname%>">

                                        </div>
                                    </div>
                                        <div class="form-group">
                                        <label class="col-md-12">Last Name</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Last Name" class="form-control form-control-line" name="lastname" id="lastname" value="<%= user.lastname%>">

                                        </div>
                                    </div>
                                   <%# <div class="form-group">
                                        <label for="example-email" class="col-md-12">Email</label>
                                        <div class="col-md-12">
                                            <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Password</label>
                                        <div class="col-md-12">
                                            <input type="password" value="password" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Phone No</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Message</label>
                                        <div class="col-md-12">
                                            <textarea rows="5" class="form-control form-control-line"></textarea>
                                        </div>
                                    </div>
                                 %>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                        <input type="hidden" name="_id" value="<%= user._id%>">
                                            <button class="btn btn-info" type="submit">Update Profile</button>
                                        </div>
                                    </div>
                                </form>
                                <form action="/delete" method="POST">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                        <input type="hidden" name="_id" value="<%= user._id%>">
                                            <button class="btn btn-danger" type="submit">Delete Account</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->

      </div>
      <!-- /.container-fluid -->
   
    <% include ./partials/footer %>
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  

    <% include ./partials/scripts %>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

</body>

</html>

 
 
 
 
 
 
 