<<<<<<< HEAD
<!doctype html>
<html lang="en">


    <% include ./partials/header %>

    <title>User's Home</title>
</head>
 <% include ./partials/nav%>

  <body class="d-flex flex-column">
  <div id="page-content">
  <header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <div class="row">
            <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12 profile-header">
                        <h4>Austin Cauley</h4>
                    </div>
                </div>
                <div class="row user-detail">
                    <div class="col-lg-12 col-sm-12 col-12 ">
                        <img src="../public/img/austin.jpg" class="rounded-circle img-thumbnail">
                      
                        <hr>
                        <div class="biobuttons">
                        <a href="#" class="btn btn-success btn-sm">View Portfolio</a>
                        <a href="#" class="btn btn-info btn-sm">Send Message</a>
                        </div>
                        <hr>
                        <span>User bio.</span>
                    </div>
                </div>
                <div class="row user-skills-detail">
                    <div class="col-lg-12 col-sm-12 col-12">
                       <span class="label">HTML 5</span>
                       <span class="label">CSS 3</span>
                       <span class="label">JQUERY</span>
                       <span class="label">JavaScript</span>
                       <span class="label">JAVA</span>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</header>
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Team: Austin Cauley, MorningStar Cornell</small>
    </div>
  </footer>

    <% include ./partials/scripts %>
</body>

=======
<!doctype html>
<html lang="en">


    <% include ./partials/header %>

    <title>User's Home</title>
</head>
 <% include ./partials/nav%>

  <body class="d-flex flex-column">
  <div id="page-content">
  <header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <div class="row">
            <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12 profile-header">
                        <h4>Austin Cauley</h4>
                    </div>
                </div>
                <div class="row user-detail">
                    <div class="col-lg-12 col-sm-12 col-12 ">
                        <img src="../public/img/austin.jpg" class="rounded-circle img-thumbnail">
                      
                        <hr>
                        <div class="biobuttons">
                        <a href="#" class="btn btn-success btn-sm">View Portfolio</a>
                        <a href="#" class="btn btn-info btn-sm">Send Message</a>
                        </div>
                        <hr>
                        <span>User bio.</span>
                    </div>
                </div>
                <div class="row user-skills-detail">
                    <div class="col-lg-12 col-sm-12 col-12">
                       <span class="label">HTML 5</span>
                       <span class="label">CSS 3</span>
                       <span class="label">JQUERY</span>
                       <span class="label">JavaScript</span>
                       <span class="label">JAVA</span>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</header>
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Team: Austin Cauley, MorningStar Cornell</small>
    </div>
  </footer>

    <% include ./partials/scripts %>
</body>

>>>>>>> 8046f0b114960db10b2c807e487bca9ad0d8d16b
</html>