<<<<<<< HEAD
html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Card Styling */

.main-section {
    border: 1px solid #138496;
    background-color: #fff;
    font-family: 'Muli', sans-serif;
}

.profile-header {
    background-color: #0e293c;
    height: 150px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
}

.user-detail {
    margin: -50px 0px 30px 0px;

}

.user-detail img {
    height: 100px;
    width: 100px;
}

.user-detail h4 {
    margin: 15px 0px 5px 0px;
}

.author {
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    font-size: 0.75em;
}

.user-skills-detail {
    padding: 15px 0px;
    background-color: #0e293c;
    padding: 0px 5px;
    font-family: 'Nixie One', cursive;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.biobuttons {
    font-family: 'Nixie One', cursive;
}

.user-skills-detail a i {
    color: #fff;
    font-size: 23px;
}

.label {
    border-radius: 2px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}
=======
html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Card Styling */

.main-section {
    border: 1px solid #138496;
    background-color: #fff;
    font-family: 'Muli', sans-serif;
}

.profile-header {
    background-color: #0e293c;
    height: 150px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
}

.user-detail {
    margin: -50px 0px 30px 0px;

}

.user-detail img {
    height: 100px;
    width: 100px;
}

.user-detail h4 {
    margin: 15px 0px 5px 0px;
}

.author {
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    font-size: 0.75em;
}

.user-skills-detail {
    padding: 15px 0px;
    background-color: #0e293c;
    padding: 0px 5px;
    font-family: 'Nixie One', cursive;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.biobuttons {
    font-family: 'Nixie One', cursive;
}

.user-skills-detail a i {
    color: #fff;
    font-size: 23px;
}

.label {
    border-radius: 2px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}
>>>>>>> 8046f0b114960db10b2c807e487bca9ad0d8d16b
